@layer base {
}

.abs-center {
	/* Fix for Safari not seeming to support transforms */
	@apply absolute  top-1/2 left-1/2;
	transform: translate(-50%, -50%);
}

.x-center {
	/* Fix for Safari not seeming to support transforms */
	@apply absolute  left-1/2;
	transform: translateX(-50%);
}

.y-center {
	/* Fix for Safari not seeming to support transforms */
	@apply absolute  top-1/2;
	transform: translateY(-50%);
}

.y-offset {
	transform: translateY(-50%);
}

.x-offset {
	transform: translateX(-50%);
}

.xy-offset {
	transform: translate(-50%, -50%);
}

.shadow {
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Animations */

.tween {
	@apply transition;
	transition-duration: 0.4s;
	transition-timing-function: ease;
}

.stagger-children {
	opacity: 0;
	@apply tween;

	& > * {
		opacity: 0;
		transform: translateY(200%);
		transition: opacity 1.6s ease,
			transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);

		&:nth-child(1) {
			transform: translateY(20%);
		}
		&:nth-child(2) {
			transform: translateY(30%);
		}
		&:nth-child(3) {
			transform: translateY(50%);
		}
		&:nth-child(4) {
			transform: translateY(70%);
		}
		&:nth-child(5) {
			transform: translateY(100%);
		}
		&:nth-child(6) {
			transform: translateY(150%);
		}
	}
}

.stagger-children-in {
	opacity: 1;
	& > * {
		opacity: 1;
		transform: translateY(0);
	}
}

/* Helpers */

.vstack {
	@apply flex gap-4 flex-col;
}

.hstack {
	@apply flex gap-4 flex-row;
}

.hscroller {
	@apply text-center;
	white-space: nowrap;
	overflow-x: auto;

	& > * {
		@apply inline-block;
		white-space: normal;
	}
}

.padded {
	@apply p-4 md:p-8;
}

/* Column unit spacings (1/18 vw) */
.col-padded {
	@apply p-[theme(spacing.singlecol)];
}
.col-padded-2 {
	@apply p-[theme(spacing.doublecol)];
}

.col-pt {
	@apply pt-[theme(spacing.singlecol)];
}
.col-pb {
	@apply pb-[theme(spacing.singlecol)];
}
.col-pl {
	@apply pl-[theme(spacing.singlecol)];
}
.col-pr {
	@apply pr-[theme(spacing.singlecol)];
}

.col-pt-1\/2 {
	@apply pt-[theme(spacing.halfcol)];
}
.col-pb-1\/2 {
	@apply pb-[theme(spacing.halfcol)];
}
.col-pl-1\/2 {
	@apply pl-[theme(spacing.halfcol)];
}
.col-pr-1\/2 {
	@apply pr-[theme(spacing.halfcol)];
}

.col-pt-2 {
	@apply pt-[theme(spacing.doublecol)];
}
.col-pb-2 {
	@apply pb-[theme(spacing.doublecol)];
}
.col-pl-2 {
	@apply pl-[theme(spacing.doublecol)];
}
.col-pr-2 {
	@apply pr-[theme(spacing.doublecol)];
}

/* Aspects */
.fluid {
	@apply absolute w-full h-full top-0 left-0;
}
.window {
	@apply relative;
	width: 100vw;
	height: 100vh;
}
.ratio-square {
	@apply relative aspect-square;
}

.ratio-video {
	@apply relative aspect-video;
}

.ratio-portrait {
	@apply relative aspect-[4/6];
}

.ratio-landscape {
	@apply relative aspect-[6/4];
}

.ratio-story {
	@apply relative aspect-[9/16];
}
